.env
env.rc
*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.rdb
*.orig
*.DS_Store
*.log
.coverage
.vagrant
.idea
.vscode
*.ipynb
htmlcov/
celerybeat-schedule
cert.crt
cert.key
rebase.sh
.coverage.localhost.*
.env
.envrc
venv_python3.6/
venv_python6/