.env
env.rc
*.sw[po]
*.py[co]
.project
.pydevproject
*~
*.db
*.rdb
*.orig
*.DS_Store
*.log
.coverage
.vagrant
.idea
.vscode
market_builder/settings/local.py
market_builder/settings/deal_iq_apns_key.pem
public/static/
public/media/
*.ipynb
htmlcov/
celerybeat-schedule
cert.crt
cert.key
rebase.sh
.coverage.localhost.*
.env
.envrc
